/* ===== GENERAL ===== */

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 50px;
  color: red;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.pokemon-selector {
  width: 90px;
  margin: 2px;
  text-align: center;
}

/* ===== TYPE CHART ===== */

.type-chart {
  display: grid;
  grid-template-columns: 100px 50px 50px 50px 50px 50px 50px 30px 30px;
  margin-top: 25px;
}

.col {
  display: grid;
  grid-template-rows: 50px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sprite {
  max-width: 48px;
}

.cell:not(:first-child) {
  border: 1px solid black;
}

.type-weakness {
  font-weight: 900;
  letter-spacing: 1.5px;
  color: white;
  text-shadow: -0.8px 0 black, 0 0.8px black, 0.8px 0 black, 0 -0.8px black;
}

.type-totals {
  text-shadow: -0.8px 0 white, 0 0.8px white, 0.8px 0 white, 0 -0.8px white;
  color: rgb(0, 0, 0);
  font-weight: 900;
}

.weaknesses {
  background-color: rgb(235, 216, 210);
}

.resistant {
  background-color: rgb(213, 248, 213);
}

.cell0w {
  background-color: rgb(218, 197, 192);
}

.cell0r {
  background-color: rgb(198, 233, 198);
}

.w3, .w4, .w5, .w6, .r3, .r4, .r5, .r6 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.w3, .w4 {
  color: orangered;
}

.w5, .w6 {
  color: red;
}

.r3, .r4 {
  color: greenyellow;
}

.r5, .r6 {
  color: lime;
}


[class~="0"] {
  background-color: rgba(0, 0, 0, 0.25) !important;
}

[class~="0.25"] {
  background-color: rgba(0, 255, 0, 0.6) !important;
}

[class~="0.5"] {
  background-color: rgba(0, 255, 0, 0.3) !important;
}

[class~="2"] {
  background-color: rgba(255, 0, 0, 0.3) !important;
}

[class~="4"] {
  background-color: rgba(255, 0, 0, 0.6) !important;
}

.cell0 {
  background-color: rgb(235, 235, 235);
}

/* type colors */

.type-label {
  font-weight: 900;
  text-shadow: -0.8px 0 black, 0 0.8px black, 0.8px 0 black, 0 -0.8px black;
  font-size: 0.9rem;
  font-family: 'Krona One', sans-serif;
  color: white;
}

.normal {
  background-color: #BDBDAE;
}

.fighting {
  background-color:#A85644;
}

.flying {
  background-color: #79A4FF;
}

.poison {
  background-color: #AB5DA2;
}

.ground {
  background-color: #EECD56;
}

.rock {
  background-color:#CEBD72;
}

.bug {
  background-color: #C2D21F;
}

.ghost {
  background-color: #7975D7;
}

.steel {
  background-color: #C4C2DA;
}

.fire {
  background-color: #FA5643;
}

.water {
  background-color: #57AFFF;
}

.grass {
  background-color: #8DD952;
}

.electric {
  background-color: #FDE33B;
}

.psychic {
  background-color: #FA64B4;
}

.ice {
  background-color: #96F1FF;
}

.dragon {
  background-color: #8874FF;
}

.dark {
  background-color: #8C6855;
}

.fairy {
  background-color: #FAADFF;
}

